<div class="item" onclick="javascript:window.location.href='<%=profie_index_path %>'" style="cursor: pointer">
  <i class="user icon" style="float: left; margin:0 5px 0 0;"></i> Profile
</div>
<div class="item" onclick="javascript:window.location.href='<%=roo_path %>'" style="cursor: pointer">
  <i class="home icon" style="float: left; margin:0 5px 0 0;"></i> Home
</div>
<div class="item" onclick="javascript:window.location.href='<%=saes_path%>'" style="cursor: pointer">
  <i class="shopping cart icon" style="float: left; margin:0 5px 0 0;"></i> Sales
</div>
<div class="item" onclick="javascript:window.location.href='<%=mebers_path%>'" style="cursor: pointer">
  <i class="users icon" style="float: left; margin:0 5px 0 0;"></i> Members
</div>
<div class="item" onclick="javascript:window.location.href='<%=non_embers_path%>'" style="cursor: pointer">
  <i class="user outline icon" style="float: left; margin:0 5px 0 0;"></i> Non-members
</div>