<!DOCTYPE html>
<html>
  <head>
    <title>CordialCare-ERP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'erp', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'erp', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= yield %>
  </body>
</html>